.ui-li-heading { font-size: 12px; font-weight: bold; display: block; margin: .6em 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
ui-collapsible-heading { font-size: 10px; font-weight: normal; display: block; margin: -.5em 0 .6em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-li-desc { font-size: 10px; font-weight: normal; display: block; margin: -.5em 0 .6em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-fullzise .ui-btn-inner { font-size: 10px; font-weight: normal; display: block; margin: -.5em 0 .6em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-fullsize .ui-btn-inner,
.ui-fullsize .ui-btn-inner { font-size: 10px; padding: .6em 20px; }
ui-li-aside ui-li-desc { font-size: 8px; font-weight: normal; display: block; margin: -.5em 0 .6em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-li-aside { float: right; width: 15%; text-align: right; margin: .2em 0; overflow: hidden; white-space: nowrap; display: block; }

a[data-icon="plus"].ui-icon-offered {
    background-image: url("../images/flashing_red.gif");
    background-repeat :no-repeat;
}

